@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    @font-face {
        font-family: 'Fredoka';
        font-style: normal;
        src: url("/font/fredoka.ttf") format("ttf");
    }

 * {
        font-family: 'Fredoka', sans-serif;
        scroll-behavior: smooth;
    }

}

:root {
    --primary-color: #FAB12F;
    --accent-color: #FA4032;
    --secondary-color: #FA812F;
    --foreign-color: #fef08a;
    --background-color: #FEF3E2;
}