<section id="about" class="grid py-24 justify-center items-center px-14 md:grid-cols-2 relative bg-foreign z-[-2]">
    <img src="/images/food-texture.jpg" class="absolute top-0 left-0 w-full h-full object-cover opacity-20 z-[-1]" alt="">
    <img src="/images/logo.png" alt="" class="object-cover pointer-events-none hidden md:block w-[400px] ml-24" />
    <div class="w-full md:w-[500px] md:text-left text-center">
        <h1 class="text-3xl text-accent mb-6 font-bold">Kedai Rizky</h1>
        <p>
            Kedai Rizky adalah usaha katering rumahan yang menghadirkan
            pengalaman kuliner terbaik dengan menu-menu spesial yang dimasak
            Fresh setiap hari. Kami menggunakan bahan-bahan berkualitas tinggi
            untuk menciptakan hidangan lezat dan menggugah selera.
        </p>
    </div>
</section>
