

<footer class="bg-white dark:bg-gray-900">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
          <div class="self-center hidden md:block">
              <a href="" class="flex items-center">
                  <img src="/images/logo.png" class="h-[160px]" alt="FlowBite Logo" />
              </a>
          </div>
          <div class="flex gap-8 sm:gap-6 sm:grid-cols-3">
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Konten</h2>
                  <ul class="text-gray-500 space-y-3 dark:text-gray-400 font-medium">
                      <li class="">
                          <a href="" class="hover:underline">Home</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">Tentang</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">Menu</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">Pemesanan</a>
                      </li>
                      <li>
                          <a href="" class="hover:underline">Lokasi</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Kontak</h2>
                  <ul class="text-gray-500 dark:text-gray-400 font-medium">
                      <li class="mb-4">
                          <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Instagram</a>
                      </li>
                      <li>
                          <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">WhatsApp</a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-between">
          <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="" class="hover:underline">Kedai Rizky</a>. All Rights Reserved.
          </span>
         
    </div>
</footer>
