<script>

    let isActive = false;

    const navBtn = document.querySelectorAll("#nav-btn");
    const linkBtn = document.querySelectorAll("#link-btn");

    const sidebar = document.querySelector("#sidebar");

    linkBtn.forEach((btn) => {
        btn.addEventListener("click", () => {
            isActive = false;
            sidebar?.classList.add("translate-x-full");
            sidebar?.classList.remove("translate-x-0");
        });
    });

    if (navBtn && sidebar) {
        navBtn.forEach((btn) => {
            btn.addEventListener("click", () => {
                isActive = !isActive;

                if (isActive) {
                    sidebar.classList.add("translate-x-0");
                    sidebar.classList.remove("translate-x-full");
                } else {
                    sidebar.classList.add("translate-x-full");
                    sidebar.classList.remove("translate-x-0");
                }
            });
        });
    }
</script>

<nav
    class="flex top-0 left-0 w-full z-50 backdrop-blur-lg bg-white/20 shadow-md fixed justify-between pt-3 pb-1 md:py-6 px-6 md:px-12"
>
    <div>
        <h1 class="font-bold text-base md:text-xl">
            Kedai <span class="text-accent">Rizqy</span>
        </h1>
    </div>

    <div class="md:flex hidden gap-4 text-primary items-center font-medium">
        <a href="#hero">Home</a>
        <a href="#about">Tentang Kami</a>
        <a href="#menu">Menu</a>
        <a href="#order">Pemesanan</a>
        <a href="#location">Lokasi</a>
    </div>

    <div class="md:hidden">
        <button id="nav-btn">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-menu"
                ><line x1="4" x2="20" y1="12" y2="12"></line><line
                    x1="4"
                    x2="20"
                    y1="6"
                    y2="6"></line><line x1="4" x2="20" y1="18" y2="18"
                ></line></svg
            >
        </button>

        <div
            id="sidebar"
            class="h-screen transition flex items-end flex-col translate-x-full w-full fixed top-0 right-0 bg-primary"
        >
            <button id="nav-btn" class="m-8">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-menu"
                    ><line x1="4" x2="20" y1="12" y2="12"></line><line
                        x1="4"
                        x2="20"
                        y1="6"
                        y2="6"></line><line x1="4" x2="20" y1="18" y2="18"
                    ></line></svg
                >
            </button>

            <hr />

            <div
                class="flex justify-between h-full flex-col z-20 text-white gap-6 text-xl font-semibold p-8"
            >
                <ul class="text-right space-y-6">
                    <li>
                        <a id="link-btn" href="#hero">Home</a>
                    </li>
                    <li>
                        <a id="link-btn" href="#about">Tentang</a>
                    </li>
                    <li>
                        <a id="link-btn" href="#menu">Menu</a>
                    </li>
                    <li>
                        <a id="link-btn" href="#location">Lokasi</a>
                    </li>
                    <li>
                        <a id="link-btn" href="#order">Pemesanan</a>
                    </li>
                </ul>

                <ul class="text-right">
                    <li>
                        <a target="_blank" id="link-btn" href="https://api.whatsapp.com/send?phone=6285741269660&text=Halo%2C%20saya%20ingin%20memesan.">Hubungi Kami</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
