<section id="order" class="bg-foreign">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="pb-8 text-3xl font-bold text-accent">
                Prosedur & Ketentuan
            </h2>
        </div>
        <div
            class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0"
        >
            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-white rounded-lg borderhadow bg-primary xl:p-8"
            >
                <h3 class="text-accent mb-4 text-2xl font-semibold">Pemesanan</h3>
                <p class="font-light text-white sm:text-lg">
                    Untuk menjaga kualitas dan kesegaran, kami melayani sistem
                    Pre-Order dengan ketentuan sebagai berikut:
                </p>
                <ul
                    role="list"
                    class="mb-8 list-decimal mt-8 pl-4 space-y-4 text-left"
                >
                    <li class="">
                        <h1>Pre-Order H-2</h1>
                        <p>
                            Pesanan dilakukan minimal dua hari sebelum waktu
                            pengambilan.
                        </p>
                    </li>

                    <li class="">
                        <h1>Konfirmasi pembayaran</h1>
                        <p>
                            Pesanan dianggap valid setelah full payment
                            diterima.
                        </p>
                    </li>

                    <li class="">
                        <h1>Pick Up Order</h1>
                        <p>
                            Waktu pengambilan makanan tersedia pukul 09.00 -
                            17.00 WIB.
                        </p>
                    </li>
                </ul>
            </div>
            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-white rounded-lg borderhadow bg-primary xl:p-8"
            >
                <h3 class="text-accent mb-4 text-2xl font-semibold">Prosedur</h3>
                <p class="font-light text-white sm:text-lg">
                    Berikut adalah prosedue prosuder untuk melakukan pemesanan
                    dikedai kami
                </p>

                <!-- List -->
                <ul
                    role="list"
                    class="mb-8 list-decimal space-y-2 pl-4 mt-8 px-6 text-left"
                >
                    <li>Hubungi kami via WhatsApp: <a href="">Pesan</a>.</li>
                    <li>Pilih menu sesuai keinginan Anda.</li>
                    <li>Lakukan pembayaran penuh untuk konfirmasi pesanan.</li>
                    <li>Pesanan akan siap diambil sesuai jadwal.</li>
                </ul>
            </div>
            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-white rounded-lg borderhadow bg-primary xl:p-8"
            >
                <h3 class="text-accent mb-4 text-2xl font-semibold">Ketentuan</h3>
                <p class="font-light text-white sm:text-lg">
                    ketentuan Ketentuan dalam pemesanan
                </p>
                <!-- List -->
                <ul
                    role="list"
                    class="mb-8 list-disc space-y-5 px-6 mt-8 text-left"
                >
                    <li>
                        Konfirmasi order maksimal pada H-1 pukul 09.00 - 17.00
                        WIB.
                    </li>
                    <li>
                        Pembayaran penuh diperlukan untuk memproses pesanan.
                    </li>
                    <li>
                        Pesanan yang sudah dikonfirmasi tidak dapat dibatalkan.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
